h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
}

.nav-bar {
  height: 95px;
  width: 100%;
  background-color: #3f72af;
  border-radius: 5px;
}

.title {
  color: white;
  margin-left: 2rem;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
